# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
run
reachdists.bmp

# VisualStudio
*.vs*
*Release*
*Debug*
*.iobj
*.ipdb
*.pdb
*.vcxproj*
*.filters
*.pdb
*.ilk

# VSCode
*.vscode*
/Debug
/Release

build
dependencies

#Output
*.ppm
!*/Opencv_ClusterImage_Test/ClusterImage_*.ppm
*test.cpp*

#Stuff
*.ods#

