# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
run

# VisualStudio
*Release*
*Debug*
*.iobj
*.ipdb
*.pdb
*.vcxproj*
*.filters
*.pdb
*.ilk

# VSCode
*.vscode*
/Debug
/Release

build
dependencies